* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .single-card {
    display: flex;
    justify-content: space-between;
    width: 1800px; 
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
  }
  
  .sedan {
    background-color: #ed7d31;
  }
  
  .suv {
    background-color: #007d79;
  }
  
  .luxury {
    background-color: #004d40;
  }
  
  .icon {
    width: 60px;
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  
  @media (max-width: 576px) {
    .single-card {
      flex-direction: column;
      width: 100%; 
    }
  
    .section {
      margin-bottom: 20px;
    }
  }
  